@model IEnumerable<ClearCity.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Бригада</h2>

<p>
    @Html.ActionLink("Добавить новую бригаду", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название бригады
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.TeamId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.TeamId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.TeamId })
        </td>
    </tr>
}

</table>
