@model IEnumerable<ClearCity.Models.Car>

@{
    ViewBag.Title = "Cars";
}

<h2>Автомобили</h2>

<p>
    @Html.ActionLink("Создать новый автомобиль", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfLastInspection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLastInspection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.CarId }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.CarId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.CarId })
            </td>
        </tr>
    }

</table>

<br />

@Html.ActionLink("Автомобили, которым необходим техосмотр", "NeedInspection")
<br/>
@Html.ActionLink("Посмотреть возраст автомобилей", "ShowCarAge")
